<% if @account_hero.hero %>
  <%= image_tag "heroes/#{@account_hero.hero.image_file}", height: 40, width: 40, class: 'edit-hero-image' %>
<% elsif @account_hero.shard_type %>
  <%= image_tag "shards/#{@account_hero.shard_type.image_file}", height: 40, width: 40, class: 'edit-hero-image' %>
<% end %>

<%= form_for(@account_hero, remote: request.xhr?, html: { data: { modal: true }, autocomplete: 'off' }) do |f| %>
  <div class="modal-body">
    <div class="fields">
      <%= f.hidden_field :hero_id %>
      <%= render subform, f: f %>
    </div>
  </div>
  <div class="modal-footer">
    <div class="actions">
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
