<%# FIXME don't borrow from devise-form class %>
<%= form_for(@account_hero, html: { class: 'devise-form', autocomplete: 'off' }) do |f| %>
  <div class="fields">
    <div id="react-hss"></div>
    <%= javascript_pack_tag('hero_smart_selector') %>
    <%= f.hidden_field :hero_id %>

    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-sm-2">
          <div class="form-group">
            <%= f.label :level %><br />
            <%= f.text_field :level, class: 'form-control', style: 'width: 95%;' %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <%= f.label :shards %><br />
            <%= f.text_field :shards, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group" style="text-align: center;">
            <%= f.label :is_fodder %><br />
            <%= f.check_box :is_fodder, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group" style="text-align: center;">
            <%= f.label :wish_list %><br />
            <%= f.check_box :wish_list, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-4">&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Add', class: 'btn btn-success' %>
  </div>
<% end %>

<script>
  function setSelectedHeroId(heroId)
  {
    let inputTag = document.getElementById("account_hero_hero_id");
    if (inputTag) {
      inputTag.value = heroId;
    } else {
      console.error('setSelectedHeroId(' + heroId + "): can't find input tag for update");
    }
  }
  $(document).ready(function () {
    $("#account_hero_level").on('input', function () {
      $("#account_hero_shards").val(0);
    });
    $("#account_hero_shards").on('input', function () {
      $("#account_hero_level").val(0);
    });
  });
</script>
