<%= form_for @account_hero, url: account_heroes_path, html: { autocomplete: 'off' } do |f| %>
  <div class="fields">
    <div id="react-hss"></div>
    <%= javascript_pack_tag('hero_smart_selector') %>
    <%= f.hidden_field :hero_id %>

    <%= render subform, f: f %>
  </div>

  <div class="actions">
    <%= f.submit 'Add', class: 'btn btn-success' %>
  </div>
<% end %>
