<li class="hero-stamp">
  <div class="hero-image">
    <%# FIXME the 3-Any fallback won't be necessary after ShardType refactor %>
    <%= image_tag fusion_hero.asset_path || 'shards/3-Any-shard-icon.png', height: 60, width: 60, title: fmt_title(fusion_hero) %>
    <% if fusion_hero.leveled? %>
      <div class="level"><%= fusion_hero.level %></div>
    <% elsif fusion_hero.sharded? %>
      <%= image_tag 'puzzle-piece-cover.png', height: 18, width: 18, class: 'puzzle-piece' %>
    <% end %>
    <% case fusion_hero.decorator %>
    <% when :check_mark %>
      <div class="fusion-decorator check"><span class="glyphicon glyphicon-ok-sign"></span></div>
    <% when :question_mark %>
      <div class="fusion-decorator qn"><span class="glyphicon glyphicon-question-sign"></span></div>
    <% when :ex_mark %>
      <div class="fusion-decorator ex"><span class="glyphicon glyphicon-remove-sign"></span></div>
    <% end %>
  </div>
  <div class="<%= shards_count_class(fusion_hero) %>">
    <%= shard_fraction(fusion_hero) %>
  </div>
</li>
