<li style="margin-left: 10px;">
  <%# TODO render this as decorator image %>
  <span><%= fusion_hero.decorator.to_s %></span>
  <% if fusion_hero.level %>
    <span><%= fmt_title(fusion_hero) %><%= " #{fusion_hero.fodder? ? 'F' : ''} L#{fusion_hero.level} S#{fusion_hero.shards}" %></span>
  <% elsif fusion_hero.name %>
    <span><%= fmt_title(fusion_hero) %></span>
  <% else %>
    <span><%= "#{fusion_hero.stars}★ #{Hero.faction_name_of(fusion_hero.faction)}" %></span>
  <% end %>
</li>
