<li class="hero-stamp">
  <div class="hero-image">
    <%= image_tag stamped_hero.asset_path, height: 60, width: 60, title: fmt_title(stamped_hero) %>
    <%= render 'account_heroes/decorator/level', o: stamped_hero %>
    <%= render 'account_heroes/decorator/sharded', o: stamped_hero %>
    <%= render 'account_heroes/decorator/fusion', o: stamped_hero %>
  </div>
  <%= render 'account_heroes/decorator/shard_fraction', o: stamped_hero %>
</li>
