<%# FIXME copy-pasted from _form ... absract out common code and CSS
    (e.g. move fields to two partials, partial name passed in from parent) %>

<%# FIXME don't borrow from devise-form class %>
<%= form_for(@account_hero, html: { class: 'devise-form', autocomplete: 'off' }) do |f| %>
  <div class="fields">
    <div id="react-hss"></div>
    <%= javascript_pack_tag('hero_smart_selector') %>
    <%= f.hidden_field :hero_id %>
    <%= f.hidden_field :level, value: 0 %>
    <%= f.hidden_field :shards, value: 0 %>
    <%= f.hidden_field :wish_list, value: 1 %>
  </div>

  <div class="actions">
    <%= f.submit 'Add', class: 'btn btn-success' %>
  </div>
<% end %>
