<% if show_target_stars(f.object) %>
  <div id="target-stars-row" class="row no-gutters">
    <div class="col-sm-6">
      <div class="form-check form-check-inline">
        <%= f.label :target_stars, class: 'form-check-label' %><br />
        <% (1..Hero::MAX_STARS).each do |stars| %>
          <label id="target-stars-<%= stars %>" class="form-check-label" style="display: <%= show_target_stars_label(f.object, stars) ? 'inline-block' : 'none' %>;">
            <%= f.label :target_stars, value: stars %>
            <%= f.radio_button :target_stars, stars, class: 'form-check-input' %>
          </label>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">&nbsp;</div>
  </div>
<% end %>
