<% if material.material_hero %>
  <li>
    <%= material.count %> x
    <%= link_to "#{material.material_hero.stars}★ #{fmt_name(material.material_hero)}", material.material_hero %>
  </li>
<% else %>
  <li>
    <%= material.count %> x
    <%= material.stars.blank? ? '' : "#{material.stars}★" %>
    <%= material.faction_name %> hero
  </li>
<% end %>
