<% @hero_tree.keys.sort.each do |stars| %>
  <h1><%= stars %>★ Heroes</h1>
  <% @hero_tree[stars].keys.sort_by {|f| Hero::FACTIONS.index(f) }.each do |faction| %>
    <h2><%= faction %></h2>
    <ul>
      <% @hero_tree[stars][faction].sort_by {|h| h.name }.each do |hero| %>
        <li>
          <span><%= link_to hero.name, hero %></span>
          <span>(<%= hero.role %>)</span>
          <span><%= hero.power %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
