<% title "#{@hero.stars}★ #{@hero.name}" %>
<% meta_tag :heroname, @hero.name %>
<% meta_tag :stars, @hero.stars.to_s %>
<% meta_tag :faction, @hero.faction_name %>
<% meta_tag :role, @hero.role %>

<%= render 'image' %>
<h1><%= @hero.name %></h2>
<h2><%= fmt_subtitle(@hero) %></h2>
<%= render 'details' %>
<%= render 'fused_from' %>
<%= render 'fuses_into' %>
<%= render 'other_forms' %>
