<!DOCTYPE html>
<html>
  <head>
    <title>Idle Herder</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
    <%= stylesheet_pack_tag    'application' %>
    <% if request.host == 'idleherder.com' %>
      <%= javascript_include_tag '/analytics' %>
    <% end %>
  </head>

  <body class="container">
    <%= render 'shared/dom_settings' %>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
