<% title 'My Goals' %>

<%# FIXME copy-pasted from accounts#show ... absract out common code and CSS
    (e.g. split #add-hero-panel to #add-wish-panel + .add-hero-panel) %>

<div id="my-hero-fusions-panel" class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">My Hero Fusions</h4>
  </div>
  <div class="panel-body">
    <table class="table fusions-table">
      <tr>
        <th class="hero">My Hero</th>
        <th class="hero">Target Hero</th>
        <th>Materials Needed</th>
      </tr>
      <%= render partial: 'account_heroes/goal', collection: @account.account_heroes.stars_under_target %>
    </table>
  </div>
</div>

<div class="panel-group">
  <div id="add-hero-panel" class="panel panel-default" style="display: none;">
    <div class="panel-heading">
      <h4 class="panel-title">Add to Wish List</h4>
    </div>
    <div class="panel-body">
      <div>
        <p class="form-instructions">
          Add a hero that you <b>do not yet have in any form</b>.
          <%= link_to image_tag('help-icon.png', size: '16x16'), '#', { 'class' => 'tooltip-qm', 'data-toggle' => 'tooltip', 'title' => 'For heroes you already have, but want at a higher star level, set their "Target stars" to the star level you want.' }  %>
        </p>
      </div>
      <%= render 'account_heroes/form', subform: 'account_heroes/form_wish_fields' %>
    </div>
  </div>
  <div id="my-wish-list-panel" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">My Wish List</h4>
      <%= button_to 'ADD', '#', class: 'btn btn-primary btn-sm', id: 'add-hero' %>
    </div>
    <div class="panel-body">
      <table class="table wish-list-table">
        <tr>
          <th class="hero">Hero</th>
          <th>Materials Needed</th>
        </tr>
        <%= render partial: 'account_heroes/wish', collection: @account.account_heroes.wish_list %>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var visible = localStorageGetItem('add_wish_panel');
    if (visible == 1) {
      $('#add-hero-panel').show();
    }
    $('#add-hero').click(function (event) {
      event.stopPropagation();
      var nowVisible = $('#add-hero-panel').toggle().is(':visible') ? 1 : 0;
      localStorageSetItem('add_wish_panel', nowVisible);
      if (nowVisible) {
        $('#hero-smart-bar').focus();
      }
      return false;
    });
  });
</script>
